In [8]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\absur\miniforge3\lib\site-packages (1.7.4.5)
Requirement already satisfied: bleach in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (2025.4.26)
Requirement already satisfied: charset-normalizer in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (3.4.2)
Requirement already satisfied: idna in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (6.31.1)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (80.1.0)
Requirement already satisfied: six>=1.10 in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (2.4.0)
Requirement already satisfied: webencodings in c:\users\absur\miniforge3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in c:\users\absur\miniforge3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [9]:
import kaggle

!kaggle datasets download sales/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/sales/retail-orders
License(s): CC0-1.0
orders.csv: Skipping, found more recently modified local copy (use --force to force download)

In [10]:
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [11]:
import pandas as pd
df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [12]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\absur\miniforge3\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\absur\miniforge3\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\absur\miniforge3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\absur\miniforge3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\absur\miniforge3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\absur\miniforge3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [13]:
import pandas as pd
df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [14]:
#rename columns names ..make them lower case and replace space with underscore

In [15]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')

In [16]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [17]:
#derive new columns discount , sale price and profit

In [18]:
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']= df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']

In [19]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [20]:
#convert order date from object data type to datetime
df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [21]:
#drop cost price list price and discount percent columns
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

In [22]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\absur\miniforge3\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\absur\miniforge3\lib\site-packages (from SQLAlchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\absur\miniforge3\lib\site-packages (from SQLAlchemy) (4.14.0)

In [23]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\absur\miniforge3\lib\site-packages (2.0.41)
Requirement already satisfied: pymysql in c:\users\absur\miniforge3\lib\site-packages (1.1.1)
Requirement already satisfied: greenlet>=1 in c:\users\absur\miniforge3\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\absur\miniforge3\lib\site-packages (from sqlalchemy) (4.14.0)

In [24]:
import sqlalchemy as sal
import pymysql

In [25]:
try:
    engine = sal.create_engine('mysql+pymysql://localhost:Godhand@123@localhost:3306/rahul')
    conn = engine.connect()
    print("Connected successfully!")
except Exception as e:
    print("Failed to connect:", e)

Failed to connect: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '123@localhost' ([Errno 11003] getaddrinfo failed)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [26]:
import sqlalchemy as sal

try:
    engine = sal.create_engine('mysql+pymysql://root:Godhand%40123@localhost:3306/rahul')
    conn = engine.connect()
    print("Connected to MySQL successfully!")
except Exception as e:
    print("Failed to connect:", e)

Connected to MySQL successfully!

In [27]:
#load the data into sql server using append option
df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')

9994